@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200;300&family=Ultra&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  line-height: 1.6;
}

h1{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 60px 0;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
